.branding {
  background: #323232;
  padding-top: 8px;
}
.ui.menu.mmenu a {
  color: #FFF !important;
}
.ui.menu.mmenu a.active {
  border-color: #FFF !important;
}
.mmText {
  font-size: 1.3rem !important;
}
.mmText p {
  line-height: 1.85rem;
}
.footer.segment {
  padding: 5em 0em;
}

.mar-top10 {
  margin-top: 20px !important
}
.imgoverlay {
  position: relative;;
}
.divoverlay {
  position: absolute;
  bottom: 0;
  z-index: 2;
  height: 80px;
  width: 100%;
  color: #FFF;
  padding: 5px;
  background: #555;
}
h2.featured {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);
  margin-top: 0
}
a.nohover {
  background: 0 none !important;
}
.sectiondivider {
  display: block;
  margin: 48px 0;
  border-top: 10px solid #e2e2e2;
  font-size: 30px;
  line-height: 35px;
  color:#555;
}

a.nohover{
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.ad {
  overflow: visible !important;
  margin-top: 15px !important;
}
.ad:before {
  content: "Sponsored Links";
  position: absolute;
  top: -16px;
  color: #555;
  font-size: 12px;
}
.mass {
  background: #f4f2f2;
  min-height: 120px;
}
.masscontent {
  width: 70%;
  float: left;
  padding: 5px;
}
.massbox {
  background: #ffd905;
  float: left;

  height: 120px;
  width: 120px;
  line-height: 120px;
  font-size: 6rem;
text-align: center;
font-weight: 700;
}
.linkmenu.ui.item.menu {
  border-left: 0 none;
  border-right: 0 none;
  border-radius: 0 !important;
  box-shadow: none;
}
.ads3 {
  width: 300px !important;
}
